In [12]:

# Comprehensions

r = list(range(0,10))
d = [x*x for x in r]
print(r)
print(d)

# generator to exclude items from a list

gen = (r[i] for i in r if i != 4)

print(list(gen))

def yield_test():
    counter = 0
    while True:
        yield counter
        counter += 1

gen = yield_test()

for i in range(5):
    print(next(gen), end = " ")
print("\n")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 5, 6, 7, 8, 9]
0 1 2 3 4

In [5]:
g = [['#', '', 'X'],[ '#', 'X', 'X']]
sum = 0
for r in g:
    sum += r.count('#')

sum

2

In [13]:
a = (1,(2,3))
b = (1,(2,3))
c = (1,(2,4))
d= (1,(2, 3))
l = (a, b, c)
d in l

True

In [7]:
a==c

False

In [14]:
a = ['#', 'O']
'O' in a

True

In [1]:
True + True

2

In [2]:
def add(a,b): return a + b
def mul(a,b): return a * b

f = add

f(1,2)

3

In [3]:
x = str(10)
y = str(20)
int(x + y )

1020

In [12]:
a = (1,2)
b = (1,3)
c = (1,2)
s = set([a,b,c])
len(s)

2

In [ ]:
m = map()
m[0] = 10
m[1] = 20
m

10

In [15]:
int(8.3333)

8

In [5]:
i = 0 
while i < 10:
    i += 1 
    i+=1
    print(i)

2
4
6
8
10

In [1]:
list = [1,2,3,4,5]

list[2:2] = [0,0,0]

print(list)

[1, 2, 0, 0, 0, 3, 4, 5]

In [ ]:
[x*2 for x in [1,2,3]]

data = [[1,2,3], [4,5,6], [7,8,9]]

[[e for e in r] for r in data]

# [[j*i for j in range(5)] for i in range(6)]

print([element for row in data for element in row])

print([element for element in [sum(row) for row in data]])
print([[element for element in row] for row in data])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 15, 24]

TypeError: 'int' object is not iterable

In [6]:
def fun(): 
    return 1,2

a = 10
b = 20 
a,b = a,b + fun()

print(a, b)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [2]:
a = 1

if not a:
    print("ASDF")

In [1]:
int(-1)

-1

In [2]:
11% 10

1

In [3]:
10%10

0

In [6]:
a = [1,2]
b = [3,4]

a + b

[1, 2, 3, 4]

In [1]:
a = (1,2)
b = (3,4)
a+b

(1, 2, 3, 4)

In [3]:
s = "hello"
s[2] = 'x'
s

TypeError: 'str' object does not support item assignment

In [2]:

mydict = {(1,2):"hello", (2,2): "world"}

print(mydict[(1,2)])

hello

2,4         A mod % 8 -> B
1,5         B XOR 5 -> B
7,5         A // 2 ** B -> C
1,6         B XOR 6 -> B
0,3         A // 2 ** 3 -> A
4,2         B XOR C -> B
5,5         B mod 8 -> out
3,0         reset to 0, unless A = 0

prog = 2,4,1,5,7,5,1,6,0,3,4,2,5,5,3,0
rev = [0, 3, 5, 5, 2, 4, 3, 0, 6, 1, 5, 7, 5, 1, 4, 2]

[2, 4, 1, 5, 5, 1, 0, 3, 5, 5, 3, 0]
2, 4, 1, 5, 7 ,5 ,1 ,6 ,0 ,3 ,4 ,2 ,5 ,5 ,3 ,0
2, 4, 1, 5, 7, 6, 4, 3, 3, 3, 4, 2, 5, 5, 3, 0

In [4]:
for i in range(8):
    print(f"{i} XOR 5 = {i ^ 5}")
print()
for i in range(8):
    print(f"{i} XOR 6 = {i ^ 6}")

0 XOR 5 = 5
1 XOR 5 = 4
2 XOR 5 = 7
3 XOR 5 = 6
4 XOR 5 = 1
5 XOR 5 = 0
6 XOR 5 = 3
7 XOR 5 = 2

0 XOR 6 = 6
1 XOR 6 = 7
2 XOR 6 = 4
3 XOR 6 = 5
4 XOR 6 = 2
5 XOR 6 = 3
6 XOR 6 = 0
7 XOR 6 = 1

In [34]:

program = [0,3,5,4,3,0]
rev_prog = [0, 3, 4, 5, 3, 0]
octal = 0o034530
print(int(octal*8))

program = [2,4,1,5,7,5,1,6,0,3,4,2,5,5,3,0]
rev_program = [0, 3, 5, 5, 2, 4, 3, 0, 6, 1, 5, 7, 5, 1, 4, 2]
octal = 0o0355243061575142
int(octal)

117440

16308406516322

In [35]:
(1,0) + (2,3)

(1, 0, 2, 3)

In [5]:
found = {}

if found: print("not empty")

In [8]:
for i in range(5,13):
    print(i)

5
6
7
8
9
10
11
12